/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo img{

    height: 100px;
    width: 200px;
  }
  
  .search-bar input {
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 0;
    width: 300px;
    margin-top: -10px;
    border: 1px solid #ddd;
  }
  
  .nav-links a {
    margin: 20px;
    margin-left: auto;
    text-decoration: none;
    color: #333;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .feed {
    width: 600px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .post-image {
    width: 100%;
    min-height: 500px;
    border-radius: 10px;
    margin: 10px 0;
  }
  
  .post-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

  .sharelist{

    display: none;
  }
  
  .post-actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .post-caption p, .comments-section p {
    margin: 5px 0;
  }
  
  .comments-section {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }